.custom-button{
    text-transform: uppercase;
    outline: none;
    width: max-content;
    background-color:#4caf50;
    box-sizing: border-box;
    padding: 20px;
    border: none;
    transition: all .3s ease;
    color:#fff;
}

.custom-button:hover, .custom-button:active, .custom-button:focus{
    background-color: #43a047;
}